.searchResults
    background-color: rgba($bl , 0.9)
    position: absolute
    z-index: 10
    left: 0
    top: 0
    width: 100%
    height: 100%
    padding: 10px
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    overflow: hidden
    transform: translateX(-100%)
    +trans
    &.active
        transform: translateX(0%)
        .searchItems

    .close-search-window
        background: none
        border: none
        font-size: 22px
        color: $primary
        position: absolute
        right: 10px
        top: 10px
        z-index: 1
        cursor: pointer
        outline: none
        +textRadiance($secondary)
        &:active
            transform: scale(0.9)

    .searchVideos
        width: 90%
        padding: 10px 0
    
    .searchItems
        width: 90%
        height: 0
        padding: 10px
        overflow-y: scroll 
        display: none
        flex-flow: row wrap
        justify-content: space-around
        +trans
        &.active
            display: flex
            height: calc(100% - 100px)

    .item
        width: 17%
        opacity: 0
        border-radius: 5px
        margin: 10px 0
        overflow: hidden
        +boxRadiance(#00f3ff1f)
        @for $i from 1 through 20
            &:nth-child(#{$i})
                animation: fade 1s $i * 100ms ease-in-out
                animation-fill-mode: forwards

        &__imageWrap
            position: relative
            overflow: hidden
            
        &__image
            width: 100%
            opacity: 0.5
            display: block
            +trans

        &__add
            background: none
            border: none
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 1
            padding: 0
            margin: 0
            cursor: pointer
            outline: none
            +trans
            &:before
                font-size: 30px
                color: $wt
                opacity: 0.5
                +trans
                
            &.icon-trash-2
                &:before
                    color: $danger
                    opacity: 1
                    +textRadiance($danger)

            &.icon-check
                &:before
                    color: $success
                    opacity: 1
                    +textRadiance($success)

        &:hover
            .item__image
                transform: scale(1.1)
                opacity: 1
            .item__add
                &.icon-playlist_add
                    &:before
                        color: $primary
                        opacity: 1
                        transform: scale(1.1)
                        +textRadiance($primary)

        &__title
            background: $bl05
            padding: 5px
            min-height: 60px
            overflow: hidden
            display: flex
            align-items: center
            p
                color: rgba($wt, 0.8)
                margin: 0
                padding: 0
                font-size: 11px
        