.playerWindow
    max-width: 100%
    position: relative

.playerWrapper
    width: 100%
    height: 390px
    position: relative

.playerControls
    display: flex
    flex-flow: row wrap
    width: 100%
    position: absolute
    bottom: 0
    left: 0

.controlsButtonGroup
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 10px 0
    position: relative
    background: rgba(0,0,0,0.8)
    .ctrl-btn
        background: none
        border: none
        font-size: 22px
        width: 20px
        height: 20px
        padding: 0
        cursor: pointer
        outline: none
        transition: all 150ms ease-in-out
        &:before
            line-height: 1
            display: inline-block
            transform: translateY(-1px)
            color: $primary
            text-shadow: 0px 0px 10px $primary

    .player-toggle
        width: 45px
        height: 45px
        margin: 0 20px
        border-radius: 50%
        background: linear-gradient(to bottom, #45484d 0%,#000000 100%)
        box-shadow: 0px 0px 10px 2px $primary
        &:hover
            border-radius: 5px
        &:active
            transform: scale(0.9)  

    .screen-toggle
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        &:before
            opacity: 0.5
        &:hover
            &:before
                opacity: 1  
        &:active
            &:before
                opacity: 1 
                transform: translateY(-1px) scale(0.9)   

    .icon-play
        &:before
            transform: translate(2px , -1px)

    .icon-skip-forward,
    .icon-skip-back
        &:before
            opacity: 0.5
        &:hover
            &:before
                opacity: 1  
        &:active
            &:before
                opacity: 1 
                transform: translateY(-1px) scale(0.9)

    .searchVideos
        position: absolute
        left: 20px
        top: 50%
        transform: translateY(-50%)


.currentlyPlaying
    position: relative
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    .videoThumnail
        position: absolute
        max-width: 100%
        height: 100%
        z-index: 0
        top: 0
        left: 50%
        transform: translateX(-50%)
    .playingInfo
        position: absolute
        width: 100%
        z-index: 2
        top: 0
        left: 0
        padding: 10px
        &:before
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            z-index: 0
            width: 100%
            height: 100%
            background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%)
        .infoTitle,
        .videoName
            color: $wt
            position: relative
            z-index: 1
        .infoTitle
            font-size: 12px
            text-transform: uppercase
            font-weight: 100
            letter-spacing: 1px
            margin-bottom: 5px

        .videoName
            font-size: 14px

.videoTime
    width: 100%
    padding: 5px 0
    display: flex
    justify-content: space-between
    .videoRemainingTime,
    .videoLenghtTime
        color: $wt
        font-size: 12px
        font-weight: 100
        padding: 0 10px

.progressBar
    display: block
    width: 100%
    height: 5px
    position: relative
    z-index: 1
    background: rgba(255,255,255,0.1)
    .bar
        position: absolute
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(to right,$primary ,$secondary 100%)
        &:after
            content: ''
            display: block
            width: 10px
            height: 10px
            border-radius: 50%
            background: $wt
            border: 3px solid $secondary
            box-shadow: 0px 0px 5px 2px $primary
            position: absolute
            right: -6px
            top: 50%
            opacity: 0
            transform: translateY(-50%)
            transition: opacity 150ms ease-in-out
             
        
    .progressBarInput
        position: absolute
        -webkit-appearance: none
        width: 100%
        height: 5px
        top: 0
        left: 0
        background: none
        outline: none
        opacity: 0.7
        margin: 0
        cursor: pointer
    
        &::-webkit-slider-thumb 
            -webkit-appearance: none
            appearance: none
            width: 0px
            height: 10px
            background: transparent
            cursor: pointer
        
        &::-moz-range-thumb
            width: 0px
            height: 10px
            background: transparent
            cursor: pointer

    &:hover
        .bar
            &:after
                opacity: 1

        

