.searchForm
    width: 100%
    padding: 10px 0
    position: relative
    .searchInput
        width: 100%
        background: transparent
        font-size: 14px
        border: 1px solid $primary
        padding: 10px
        padding-right: 40px
        color: $lGray
        outline: none
    .searchButton
        background: none
        border: none
        font-size: 22px
        color: $primary
        position: absolute
        right: 10px
        top: 0
        z-index: 1
        height: 100%
        cursor: pointer

    

    

