.searchForm
    width: 100%

.form
    position: relative
    &__input
        width: 100%
        background: $bl05
        font-size: 30px
        border: 1px solid $primary
        padding: 20px 40px
        color: rgba($wt, 0.8)
        outline: none
        border-radius: 5px

    &__button
        background: none
        border: none
        font-size: 30px
        color: $primary
        position: absolute
        right: 10px
        top: 0
        z-index: 1
        height: 100%
        cursor: pointer
        outline: none
        +textRadiance($secondary)

    

    

