.appContainer
    overflow: hidden
    .header
        background: black
        text-align: center
        padding: 10px
        -webkit-app-region: drag
        position: relative

        &__brandName
            color: $wt05
            font-size: 12px
            font-weight: 100
            letter-spacing: 10px

        .windowControls
            position: absolute
            right: 10px
            top: 50%
            transform: translateY(-50%)
            -webkit-app-region: no-drag
            &__control
                border-radius: 0
                border: none
                background: none
                cursor: pointer
                outline: none
                &:before
                    color: $primary
                    font-size: 20px
                    +textRadiance($primary)
                    +trans
                &:hover
                    &:before
                        transform: scale(1.1)

    .componentsWrap
        padding: 10px
        display: flex
        flex-flow: row wrap
        .columnLeft
            width: 75%
        .columnRight
            width: 25%
        
    .errorMessage
        width: 100%
        color: $primary
        font-size: 18px
        text-align: center

    .loader
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 999
        display: flex
        align-items: center
        justify-content: center
        opacity: 0
        animation: fade 2s linear
        animation-fill-mode: forwards
        .icon-loader
            transform: rotate(0deg)
            animation: rotating 2s linear infinite
            &:before
                font-size: 70px
                color: $primary
                transform: translate(0px , -2px)
                display: inline-block

    