.appContainer
    overflow: hidden
    .header
        background: black
        text-align: center
        padding: 10px
        -webkit-app-region: drag
        position: relative

        &__brandName
            color: $wt05
            font-size: 12px
            font-weight: 100
            letter-spacing: 10px

        .windowControls
            position: absolute
            right: 10px
            top: 50%
            transform: translateY(-50%)
            -webkit-app-region: no-drag
            &__control
                border-radius: 0
                border: none
                background: none
                cursor: pointer
                outline: none
                &:before
                    color: $primary
                    font-size: 20px
                    +textRadiance($primary)
                    +trans
                &:hover
                    &:before
                        transform: scale(1.1)

    .componentsWrap
        padding: 10px
        display: flex
        flex-flow: row wrap
        .columnLeft
            width: 75%
        .columnRight
            width: 25%

    .tabList
        width: 100%
        &__items
            width: 100%
            display: flex
            justify-content: center
            list-style: none
            padding: 10px
            margin-top: 10px
            margin-bottom: 0
            border-top-left-radius: 5px
            border-top-right-radius: 5px
            cursor: pointer
            +gradient(bottom, $gray3, $bl)
            +trans
            
        &__item
            margin: 0 20px
            span
                color: $wt05
                font-size: 12px 
                letter-spacing: 2px
                +trans
            &.active,
            &:hover
                span
                    color: $primary
                    +textRadiance($primary)

    .tabPaneContainer
        padding: 10px
        background: $bl05
        height: calc( 100vh - 295px)
        overflow-y: scroll

    