$wt: #ffffff
$gray: #404040
$lGray: #cccccc
$gray2: #252525


.playerControls
    display: flex
    .ctrl-btn
        background: none
        border: none
        color: $wt
        font-size: 20px
        padding: 10px