$wt: #ffffff
$gray: #404040
$lGray: #cccccc
$gray2: #252525


.playerControls
    display: flex
    .ctrl-btn
        background: none
        border: none
        color: $wt
        font-size: 20px
        padding: 10px

#widget2
    &:focus
        outline: 1px solid red

        
.floatingScreen
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0

.Cuadrado
    width: 100px
    height: 100px
    background: red
    &:focus
        background: blue